################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/ChannelEngine/Order.Console/bin/Debug/netcoreapp3.1
/ChannelEngine/Orders.Console/bin/Debug/netcoreapp3.1
/ChannelEngine/Orders.Console/obj
/ChannelEngine/.vs/ChannelEngine
/.vs
/ChannelEngine/Orders.Business/bin/Debug/netcoreapp3.1
/ChannelEngine/Orders.Business/obj
/ChannelEngine/Orders.Common/obj
/ChannelEngine/Orders.Web/bin/Debug/netcoreapp3.1
/ChannelEngine/Orders.Web/obj
/ChannelEngine/ChanelEngine.Service.Common/obj
/ChannelEngine/ChanelEngine.Service.Common/bin/Debug/netcoreapp3.1
/ChannelEngine/ChannelEngine.Service/obj
/ChannelEngine/Orders.Contracts/obj
/ChannelEngine/ChannelEngine.Service/bin/Debug/netcoreapp3.1
/ChannelEngine/Orders.Common/bin/Debug/netcoreapp3.1
/ChannelEngine/Orders.ConsoleApp/bin/Debug/netcoreapp3.1
/ChannelEngine/Orders.ConsoleApp/obj
/ChannelEngine/Orders.Contracts/bin/Debug/netcoreapp3.1
