@using Orders.Contracts.DomainModels;
@model IEnumerable<OrdersInfo>;

@{
    ViewData["Title"] = "Orders";
}

<div class="text-center">
    <table class="table table-bordered table-hover">
        <tr>
            <th>Sr No</th>
            <th>Product Name</th>
            <th>GTIN</th>
            <th>Quantity</th>
        </tr>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.SerialNumber</td>
                <td>@item.ProductName</td>
                <td>@item.GtIn</td>
                <td>@item.Quantity</td>
            </tr>
        }
    </table>
</div>
